<div class="mainBody">
  <div class="sidebar">
    <a href="/" >Home</a><hr>
    <a href="/authors">All Authors</a>
    <a href="/quotes">All Quotes</a>
    <a href="/newAuthor">Add Author</a>
    <a href="/newQuote" >Add Quote</a>

    <hr>
    <a href="/logout">Logout</a>
  </div>
